<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/productEdition.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

<!-- Register form -->

<main>
    <section class="editProduct-Section">
        <h2>Edit listing</h2>
        <div class = "validationErrors">
            <ul id="errores"> </ul>
        </div>
        <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" class="register-form-Edit-Product" enctype="multipart/form-data">
            <div class="container-inputs">
                <article class="productNameContainer">
                <label for="name">Product Name</label>
                    <input type="text" name="name" class="productName" id="productName" value="<%= locals.oldData ? oldData.name:product.name %>" >
                    <% if(locals.errors && errors.name) { %>
                        <div class="errorList">
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
                </article>
                
                <article class="productDescriptionConteiner">
                    <label for="description">Description</label>
                    <textarea name="description"  id="productDescription"> <%= locals.oldData ? oldData.description:product.description %> </textarea>
                <% if(locals.errors && errors.description) { %>
                        <div class="errorList">
                            <%= errors.description.msg %> 
                        </div>
                    <% } %>
                </article>
                <article class="productExtraInfoConteiner">
                    <label for="extraInfo">Extra Info</label>
                    <textarea type="text" name="extraInfo" ><%= locals.oldData ? oldData.extraInfo:product.extraInfo %></textarea>
                </article>
            </div>
            <div class="second-container-inputs">
                <article class="productPriceContainer" >
                    <label for="price" >Price</label>
                        <input type="text" name="price" class="inputPrice" id="price" value="<%= locals.oldData ? oldData.price:product.price %>">
                </article>
                <article class="productDiscountContainer" >
                    <label for="discount">Discount (%)</label>
                        <input type="number" name="discount" value="<%= locals.oldData ? oldData.discount:product.discount*100 %>" class="inputDiscount" >
                </article>
                <article class="product-Categories-Container">
                    <label for="category">Categories</label>
                    <select  class="product-Categories"name="category" >
                        <% allCategory.forEach(category => { %>
                        <option value="<%= category.id %>" <% if(productCategory != undefined) {if (productCategory[0].category_id == category.id) { %><%= 'selected' %><% }}; %>><%= category.name %></option>
                        <% }); %>
                    </select>
                    <select  class="product-Categories"name="category2" >
                        <option value='0'>2nd Category (optional)</option>
                        <% allCategory.forEach(category => { %>
                        <option value="<%= category.id %>" <% if(productCategory != undefined) { if (productCategory.length > 1) { if (productCategory[1].category_id == category.id) {%><%= 'selected' %><% }; }} %>><%= category.name %></option>
                        <% }); %>
                    </select>
                        <!-- <Select class="product-Categories" name="category" value="< % = product.category % >" required>
                            <option value="Modules&Cases">Modules & Cases</option>
                            <option value="Sequencers">Sequencers</option>
                            <option value="Accesories">Accesories</option>
                            <option value="Effects">Effects</option>
                            <option value="WeirdGear">Weird Gear</option>
                            <option value="NewReleases">New Releases</option>
                        </Select> -->
                </article>
                <article class="productBrandContainer">
                    <label for="brand_id">Brands</label>
                    <select name="brand_id" id="" >
                        <% allBrand.forEach(brand => { %>
                        <option value="<%= brand.id %>" <% if (product.brand.id == brand.id) { %><%= 'selected' %><% }; %>><%= brand.name %></option>
                        <% }); %>
                    </select>
                </article>
            </div>
            <article>
                <label for="isActive">Show in the shop</label>
                <input type="checkbox" <% if (product.is_active == 1) { %> checked <% } %>  name="isActive" placeholder="Active">
            </article>
            <article class="product-Images-Container">
                <section class="product-Images">
                    <label for="images">Images</label>
                        <input type="file" name="images" class="btn-File-Select" id="productImage" accept=".jpg, .png" >
                            <img src="/img/products/<%= product.image %>" max-width='300px' max-height='300px'>
                            

                </section>
                <% if(locals.errors && errors.productImg) { %>
                    <div class="errorList">
                        <%= errors.productImg.msg %> 
                    </div>
                <% } %>
            </article>   
                
            <button type="submit" class="btn-modify-product">
                Modify listing
            </button>
            </form>
    </section>

</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

<script src="/js/productUpdateValidation.js" type="text/javascript"></script>

</body>
</html>
