<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/productDetail.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

<!--Inicio productDetail-->
<main>
    <section>
        <article class="product-title product-title-tb">
            <h2><%= user.first_name %><p> <%= user.last_name %></p></h2>
            </article>
        <article class="product-img">
            <img src="/img/users/<%= user.image %>">  <!--imagen de ejemplo. Cambiarla-->
        </article>
        <div class="product-details">
        <article class="product-title product-title-mb">
        </article>

        </div>
    <div>
        <form action="/users/edit" method="get">
            <button type="submit" class="btn-to-edition">
                Edit details
            </button>
        </form>
    </div>
    <div>
        <form >
            <button type="submit" class="btn-delete-product" style="display: inline-flex">
                Delete user
            </button>
        </form>    
    </div>
    </section>
    
</main>



<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>