<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/user.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %>
<main>
<!-- product list -->
    <section class="users-list-container">
        <h2>Users List</h2>
        <div class="users-list">
        <% users.forEach((user) => { %>
        
        <article class="user-card">
            <a href = "/users/detail/<%= user.id %>">
            <div class="user-img-container">
                <img class="user-image" src="/img/users/<%= user.image %> ">
            </div>
            <div class="user-name-email">
                <p class="user-email"><%= user.email %> </p>
                <h6 class="user-name" ><%= user.name %> </h6>
            </div>
            </a>
        </article>
        <% }) %>  
        
        </div>
    </section>
</main>

<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>