<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link href="/css/register.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

<!-- Register form -->

<main>
    <section class="new-user-section">
        <h1 class="join-text">Edit your details</h1>
        <form action="/users/update/<%= user.id %> " method="POST" class="register-form"? enctype="multipart/form-data">
            <div class="container-inputs">
                <label for="email">Email address</label>
                <input type="email" name="email" placeholder="Email address" class="email-input-login" value='<%= user.email %>''  required>
            </div>

            <h1>Personal information</h1>
            <div class="second-container-inputs">
                <label for="name">First name</label>
                <input type="text" name="name" placeholder="First name" value='<%= user.first_name %>' required>
                <label for="last_name">Last name</label>
                <input type="text" name="last_name" placeholder="Last name" value= '<%= user.last_name %>'>
            </div>
            <!--  <div class="userCategory">
              <p>which type of user are you?</p>
                <article class="user-Categories-Container">
                    <label for="category">Categories</label>
                        <Select class="user-Categories" name="category"  required>
                            <option value= 'none' disabled selected>Choose one</option>
                            <option value= 'true' disabled>Administrator</option>
                            <option value= 'false'>Customer</option>
                        </Select>
                </article>
                <label for=""></label>
            </div>-->
            <article class="image-container">
                <section class="user-image">
                    <label for="userAvatar">Images</label>
                    <p>Image</p>
                        <input type="file" name="userAvatar" class="btn-File-Select" multiple accept=".jpg, .jpeg, .png">
                </section>
            </article>
            <button type="submit" class="btn-register">
                Update Details
            </button>
        </form>
</section>
</main>


<!--Footer partials-->
<%- include('./partials/footer') %>

</body>
</html>